body {
    margin: 0;
    margin-top: 10vh;
}

#title {
    color: #CFFFDC;
    font-weight: 500;
    font-family: 'Pacifico', cursive;
}

.head-items {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 5vh auto;
    margin-top: 0;
}

.head-items>li {
    margin: 0.8rem 1.6rem;
    font-size: 1.1rem;
}

.header {
    background-color:#191b1c;
    height: 7vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.head-items>li>a {
    text-decoration: none;
    color: #CAF0F8;
    font-family: 'Noto Sans', sans-serif;
}

#first-item {
    margin-left: 55vw;
}

footer {
    color: #ffffff;
    font-family: sans-serif;
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #8957e5;
    bottom: 0;
    display: grid;
    place-items: center;
    position: fixed;
}